<div class="post-index">
  <div class="post-header">
    <div class="quotation bg-white">
      <div class="author">- ひとこと -</div>
      <div class="content">エモさとは弱さであり、人として生きる強さである。</div>
      <div class="author">written by @名無しのエモリスト</div>
    </div>
    <div class="search-item">
      <h5>
        <i class="fas fa-book-open text-brown"></i>
        キーワードで探す
      </h5>
      <%= form_with url: posts_path, method: :get, local: true do %>
        <div class="input-group">
          <%= text_field_tag 'search[keyword]', nil, class: 'form-control', placeholder: "e.g. 物語 日常" %>
          <div class="input-group-append">
            <%= button_tag type: 'submit', class: 'btn bg-brown' do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="search-item">
      <h5>
        <i class="fas fa-tags text-brown"></i>
        タグで探す
      </h5>
      <div class="tag-area">
        <% @tags.each do |tag| %>
          <%= link_to "##{tag.name}", posts_path(search: { tag: tag.name }), class: 'tag' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="post-list">
    <%= render partial: 'post_card', collection: @posts, as: :post %>
  </div>
</div>
