<div class="post-show">
  <div class="post-area">
    <div class="thumbnail">
      <%= image_tag(thumbnail_post_path(@post))%>
    </div>
    <div class="post-info">
      <div class="right">Written by @Twikko</div>
      <div class="post-item">
        <button class="btn btn-block bg-brown">
          Twitterで共有する
          <i class="fab fa-twitter"></i>
        </button>
      </div>
      <div class="post-item">
        <h5>
          <i class="fas fa-tags text-brown"></i>
          タグ
        </h5>
        <div class="tag-area">
          <% @post.tag_list.each do |tag| %>
            <span class="tag"><%= tag %></span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="post-body">
      <div class="post-item">
        <h5>
          <i class="fas fa-book-open text-brown"></i>
          文字で読む
        </h5>
        <div class="post-content">
          <%= simple_format(h(@post.body)) %>
        </div>
      </div>
      <div class="post-item">
        <h5>
          <i class="fas fa-images text-brown"></i>
          画像で読む
        </h5>
        <div class="post-images">
          <div class="flex">
            <div class="post-image margin-left"><%= image_tag('sample_card_brown.png')%></div>
            <div class="post-image margin-right"><%= image_tag('sample_card_brown.png')%></div>
          </div>
          <div class="flex">
            <div class="post-image margin-left"><%= image_tag('sample_card_brown.png')%></div>
            <div class="post-image margin-right"><%= image_tag('sample_card_brown.png')%></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
