<nav>
  <div class="navbar-links">
    <div class="icon-with-text brand">
      <%= link_to '/posts' do %>
        <i class="fas fa-heart"></i>
        <br>
        <span>エモったー</span>
      <% end %>
    </div>
    <div class="icon-with-text">
      <%= link_to '/posts' do %>
        <i class="fas fa-search"></i>
        <br>
        <span>さがす</span>
      <% end %>
    </div>
    <div class="icon-with-text">
      <%= link_to '/posts/new' do %>
        <i class="fas fa-pen-nib"></i>
        <br>
        <span>つくる</span>
      <% end %>
    </div>
    <div class="icon-with-text">
      <%= link_to '/' do %>
        <i class="fas fa-crown"></i>
        <br>
        <span>ランキング</span>
      <% end %>
    </div>
    <div class="icon-with-text">
      <%= link_to '/' do %>
        <i class="fas fa-key"></i>
        <br>
        <span>ログイン</span>
      <% end %>
    </div>
  </div>
</nav>
